$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$font-grey: #999999;
$empty-background: #f8f9fa;
$font-empty: #525252;
$grey-whats: #ededed;
$border-grey: #dadada;
$light-grey: #f6f6f6;
$sub-title-grey: #626262;
$grey-background: #e5ddd5;
$my-message: #dcf8c6;
$other-message: #ffffff;
